<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feimeng.imagepicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name="com.feimeng.imagepicker.ui.ImagePickerActivity" />
        <activity android:name="com.feimeng.imagepicker.ui.ImagePickerPreviewActivity" />
    </application>
</manifest>
