<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feimeng.fun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".behavior.StudyBehaviorActivity">
            <!--    <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>-->
        </activity>
        <activity android:name=".imagepicker.ImagePickerDemoActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".imagecrop.ImageCropDemoActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".imageviewer.ImageViewerDemoActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".imageviewer.DisplayActivity"
            android:configChanges="orientation" />
        <activity android:name=".kaomoji.KaomojiDemoActivity">
            <!--    <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>-->
        </activity>
        <activity
            android:name=".keyboarddetectory.KeyboardDetectorDemoActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing">
            <!--            <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>-->
        </activity>

        <activity android:name=".loading.LoadingDemoActivity" />
        <activity android:name=".ratio.RatioLayoutDemoActivity" />
        <activity android:name=".gridlayout.GridLayoutDemoActivity" />
        <activity android:name=".replace.ReplaceDemoActivity" />
    </application>
</manifest>